<div id="<%= dom_id tutorial_code %>">
  <p>
    <strong>Title:</strong>
    <%= tutorial_code.title %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= tutorial_code.overview %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= tutorial_code.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tutorial_code.description %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= tutorial_code.path %>
  </p>

  <p>
    <strong>Lang:</strong>
    <%= tutorial_code.lang_id %>
  </p>

  <p>
    <strong>Tutorial:</strong>
    <%= tutorial_code.tutorial_id %>
  </p>

</div>
