<div id="<%= dom_id snippet_code %>">
  <p>
    <strong>Code:</strong>
    <%= snippet_code.code %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= snippet_code.overview %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= snippet_code.description %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= snippet_code.path %>
  </p>

  <p>
    <strong>Lang:</strong>
    <%= snippet_code.lang_id %>
  </p>

  <p>
    <strong>Snippet:</strong>
    <%= snippet_code.snippet_id %>
  </p>

</div>
