<h1 class="display-1 mb-5 text-muted text-center">
  Editing <%= render html:  @rails_guide.title %> Guide
</h1>

<div class="p-5 shadow card">
  <h1 class="display-6 mb-5">
    Editing <%= render html:  @rails_guide.title %>
  </h1>

  <%= render "form", rails_guide: @rails_guide %>

  <div class="btn-group mt-5" role="group" aria-label="Basic mixed styles example">
    <%= link_to "Show this rails guide", @rails_guide, type: "button", class: "btn btn-sm btn-primary mt-2" %>
    <%= link_to "Back to rails guides", rails_guides_path, type: "button", class: "btn btn-sm btn-secondary mt-2" %>
  </div>
</div>
