<h1 class="display-1 mb-5 text-muted text-center">
  <%= render html:  @rails_guide.title %> Guide
</h1>

<div class="p-5 shadow card bg-secondary">
  <p style="color: green">
    <%= notice %>
  </p>
  <h1 class="display-6 text-muted">
    <%= render html:  @rails_guide.title %>
  </h1>

  <%= render @rails_guide %>

  <div class="btn-group col-8" role="group" aria-label="Basic mixed styles example">
    <%= link_to "Edit this rails guide", edit_rails_guide_path(@rails_guide), class: "btn btn-sm btn-primary mt-3 shadow" %>
    <%= link_to "Back to rails guides", rails_guides_path, class: "btn btn-sm btn-secondary mt-3 shadow" %>
  </div>
</div>

<div class="d-grid gap-2 mt-4">
  <%= button_to "Destroy this rails guide", @rails_guide, method: :delete, type: "button", class: "btn btn-sm btn-danger shadow" %>
</div>
