<div id="<%= dom_id template_code %>">
  <p>
    <strong>Title:</strong>
    <%= template_code.title %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= template_code.overview %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= template_code.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= template_code.description %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= template_code.path %>
  </p>

  <p>
    <strong>Lang:</strong>
    <%= template_code.lang_id %>
  </p>

  <p>
    <strong>Example:</strong>
    <%= template_code.example_id %>
  </p>

</div>
