<div class="bg-skyblue">
  <%= form_with(model: snippet) do |f| %>
    <% if snippet.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

        <ul>
          <% snippet.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row mb-3">
      <div class="p-5 card col-6 shadow me-3 bg-light">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_area :title, rows: 3, placeholder: "Add your snippet title...", class: "form-control" %>
      </div>
      <div class="p-5 card col shadow bg-light">
        <%= f.label :Add_tags, class: "form-label" %>
        <%= f.text_area :all_tags, rows: 3, placeholder: "Enter tags, separated by commas...", class: "form-control" %>
      </div>
    </div>

    <div class="p-5 card shadow mb-3 bg-light">
      <div class="p-5 col-8 card shadow mb-3 bg-light">
        <%= f.label :add_step_short_overview, class: "form-label" %>
        <%= f.text_area :overview, rows: 3, placeholder: "Enter short overview for snippet...", class: "form-control" %>
      </div>

      <div class="p-5 col-8 card shadow mb-3 bg-light">
        <%= f.label :code, class: "form-label" %>

        <%= f.label :Choose_technology, class: "form-label" %>
        <%= collection_select(:snippet, :language_id, @languages, :id, :name, {}, {class: 'form-select'}) %>

        <%= f.label :add_directory_path, class: "form-label mt-3" %>
        <%= f.text_field :path, placeholder: "Add code using directory...", class: "form-control mb-3" %>

        <%= f.text_area :body, placeholder: "Add your code snippet...", rows: 10, class: "form-control" %>
      </div>

      <div class="p-5 col-8 card shadow mb-3 bg-light">
        <%= f.label :description, class: "form-label" %>
        <%= f.rich_text_area :description, placeholder: "Add short description of pasted snippet...", class: "form-control" %>
      </div>

      <div class="d-grid gap-2 col-8 m-3 mt-4">
        <%= f.submit class: "btn btn-sm btn-success mb-5 shadow" %>
      </div>
    </div>
  <% end %>
</div>
