<div class="col-8">
  <div class="p-4 shadow card mb-3 mt-3 bg-secondary me-3">
    <div id="<%= dom_id snippet %>" class="col-12">
      <div class="row">
        <div class="col-12">
          <pre>
            <code class="hljs <%= snippet.language.name %> rounded"><%= snippet.body %></code>
          </pre>
        </div>
        <button
          onclick="copy(`<%= snippet.body %>`,'#snippet_copy_<%= snippet.id %>')"
          id="snippet_copy_<%= snippet.id %>"
          class="btn btn-sm btn-success copy-button shadow"
          >
          Copy
        </button>
      </div>
    </div>
  </div>

  <% snippet.snippet_codes.each do |snippet_code| %>
    <div class="p-4 shadow mb-3 card mt-3 bg-secondary me-3">
      <div class="col-12">
        <pre>
          <code class="hljs <%= snippet.language.name %> rounded"><%= snippet_code.code %></code>
        </pre>
      </div>
      <button
        onclick="copy(`<%= snippet_code.code %>`,'#snippet_code_copy_<%= snippet_code.id %>')"
        id="snippet_code_copy_<%= snippet_code.id %>"
        class="btn btn-sm btn-success copy-button shadow"
        >
        Copy
      </button>
    </div>
  <% end %>
</div>

<div class="p-4 pt-5 shadow col-2 card mb-3 mt-3 bg-secondary me-3">
  <% snippet.tags.each do |tag| %>
    <div>
      <%= link_to tag.name, snippets_path(tag: tag.name), class: "badge bg-secondary text-decoration-none shadow p-2 m-1" %>
    </div>
  <% end %>
</div>

<div class="p-4 pt-5 shadow col card mb-3 mt-3 me-0 bg-secondary">
  <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <%= link_to "Show", snippet, type: 'button', class: 'btn btn-sm btn-secondary shadow py-2' %>
    <%= link_to "Edit", edit_snippet_path(snippet), type: 'button', class: 'btn btn-sm btn-secondary shadow py-2' %>
    <%= link_to "Delete", snippet, method: :delete, data: { confirm: "Are you shure?" }, type: 'button', class: 'btn btn-sm btn-secondary shadow py-2' %>
  </div>
</div>

<div class="col-12 p-4 pt-5 shadow col card mb-3 mt-3 me-0 bg-secondary">
  <div class="accordion card shadow bg-light rounded" id="accordionExample">
    <div class="accordion-item">
      <h1 class="accordion-header bg-secondary" id="headingTwo">
        <button
        class="accordion-button collapsed display-5 bg-light"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
        >
        <span class="fw-bold"><%= snippet.title %></span>| | snippet description
      </button>
    </h1>
    <div
    id="collapseTwo"
    class="accordion-collapse collapse"
    aria-labelledby="headingTwo"
    data-bs-parent="#accordionExample"
    >
    <div class="accordion-body">
      <%= snippet.description.present? ? (snippet.description) : (render 'snippets/no_description') %>
    </div>
  </div>
</div>
  </div>
</div>
