<div class="col-8">
  <div class="p-4 shadow card mb-3 mt-3 bg-light me-3">
    <div id="<%= dom_id snippet %>" class="col-12">
      <div class="row shadow p-3 mb-3 rounded bg-description">
        <div class="col-4 p-2">
          <div>
            <small>
              <strong class="text-muted">Step</strong>&emsp;&emsp;&emsp;&emsp;&emsp;
              <span class="badge bg-nightsky p-1 shadow">
                <% snippet.steps.each do |step| %>
                  Step <%= step.number %>
                <% end %>
              </span>
            </small>
          </div>
          <div>
            <small>
              <strong class="text-muted">Technology</strong>&emsp;&emsp;<span class="badge bg-nightsky p-1 shadow"><%= snippet.language.name %></span>
            </small>
          </div>
          <div>
            <small>
              <% if snippet.path.nil? %>
                <strong class="text-muted">Directory</strong>&emsp;&emsp;&emsp;<span class="badge bg-nightsky p-1 shadow">no path</span>
              <% else %>
                <strong class="text-muted">Directory</strong>&emsp;&emsp;&emsp;<span class="badge bg-nightsky p-1 shadow"><%= snippet.path %></span>
              <% end %>
            </small>
          </div>
          <br>
        </div>
        <div class="col-8 p-2">
          <span class="text-muted">
            <% snippet.steps.each do |step| %>
              <small>Step <%= step.number %> overview</small>
              <p><%= snippet.overview %></p>
            <% end %>
          </span>
        </div>
        <pre class="hljs">
          <code class="hljs <%= snippet.language.name %> rounded"><%= snippet.body %></code>
        </pre>
      </div>
    </div>

    <div class="accordion card shadow bg-description rounded mt-5" id="snippet-accordion">
      <div class="accordion-item">
        <h1 class="accordion-header bg-description" id="headingTwo">
          <button
            class="accordion-button collapsed display-5 bg-description"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            <span class="fw-bold"><%= snippet.title %></span>| | snippet description
          </button>
        </h1>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#snippet-accordion"
        >
          <div class="accordion-body bg-description">
            <%= snippet.description.present? ? (snippet.description) : (render 'snippets/no_description') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-4 pt-5 shadow col-2 card mb-3 mt-3 bg-light me-3">
  <% snippet.tags.each do |tag| %>
    <div>
      <%= link_to tag.name, snippets_path(tag: tag.name), class: "badge bg-secondary text-decoration-none shadow p-2 m-1" %>
    </div>
  <% end %>
</div>

<div class="p-4 pt-5 shadow col card mb-3 mt-3 me-0 bg-light">
  <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <%= link_to "Show", snippet, type: 'button', class: 'btn btn-sm btn-secondary shadow py-2' %>
    <%= link_to "Edit", edit_snippet_path(snippet), type: 'button', class: 'btn btn-sm btn-secondary shadow py-2' %>
    <%= link_to "Delete", snippet, method: :delete, data: { confirm: "Are you shure?" }, type: 'button', class: 'btn btn-sm btn-secondary shadow py-2' %>
  </div>
</div>
