<div class="col-8">
  <div class="p-4 shadow card mb-3 mt-3 bg-description me-3">
    <div id="<%= dom_id snippet %>" class="col-12">
      <div class="row shadow p-3 mb-3 rounded bg-description">
        <div class="col-5 p-2">
          <div>
            <small>
              <strong class="text-muted">Variant</strong>
              &emsp;&emsp;&emsp;&emsp;
              <span class="badge bg-focuscard text-decoration-none shadow p-2 ms-1 m-1">
                Variant 1
              </span>
            </small>
          </div>
          <div>
            <small>
              <strong class="text-muted">
                Technology
              </strong>
              &emsp;&emsp;
              <span class="badge bg-focuscard text-decoration-none shadow p-2 m-1">
                <%= snippet.language.name %>
              </span>
            </small>
          </div>
          <div>
            <small>
              <% if snippet.path.nil? %>
                <strong class="text-muted">
                  Directory
                </strong>
                &emsp;&emsp;&emsp;
                <span class="badge bg-focuscard text-decoration-none shadow p-2 m-1">
                  no path
                </span>
              <% else %>
                <strong class="text-muted">
                  Directory
                </strong>
                &emsp;&emsp;&emsp;
                <span class="badge bg-focuscard text-decoration-none shadow p-2 m-1">
                  <%= snippet.path %>
                </span>
              <% end %>
            </small>
          </div>
          <br>
        </div>
        <div class="col-7 px-4 py-2 mb-2 shadow-lg rounded bg-lightboot">
          <span>
            <h6>Variant 1 overview</h6>
            <small><%= snippet.overview %></small>
          </span>
        </div>
        <pre class="hljs">
          <code class="hljs <%= snippet.language.name %> rounded"><%= snippet.body %></code>
        </pre>
      </div>
    </div>

    <div class="accordion card shadow bg-light rounded" id="snippet_<%= snippet.id %>-accordion">
      <div class="accordion-item">
        <h1 class="accordion-header bg-light" id="snippet_<%= snippet.id %>-heading">
          <button
            class="accordion-button collapsed display-5 bg-lightboot"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#snippet_<%= snippet.id %>-collapse"
            aria-expanded="false"
            aria-controls="snippet_<%= snippet.id %>-collapse"
          >
            <span class="fw-bold"><%= snippet.title %></span>| &emsp; | <%= snippet.overview %> description
          </button>
        </h1>
        <div
          id="snippet_<%= snippet.id %>-collapse"
          class="accordion-collapse collapse"
          aria-labelledby="snippet_<%= snippet.id %>-heading"
          data-bs-parent="#snippet_<%= snippet.id %>-accordion"
        >
          <div class="accordion-body bg-light">
            <%= snippet.description.present? ? (snippet.description) : (render 'snippets/no_description') %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% snippet.snippet_codes.each_with_index do |snippet_code, index| %>
    <div class="p-4 shadow mb-3 card mt-3 bg-description me-3">
      <div class="col-12">
        <div class="row shadow p-3 mb-3 rounded bg-description">
          <div class="col-5 p-2">
            <div>
              <small>
                <strong class="text-muted">Variant</strong>
                &emsp;&emsp;&emsp;&emsp;
                <span class="badge bg-focuscard text-decoration-none shadow p-2 ms-1 m-1">
                  Variant <%= index + 2 %>
                </span>
              </small>
            </div>
            <div>
              <small>
                <strong class="text-muted">
                  Technology
                </strong>
                &emsp;&emsp;
                <span class="badge bg-focuscard text-decoration-none shadow p-2 m-1">
                  <%= snippet_code.lang.name %>
                </span>
              </small>
            </div>
            <div>
              <small>
                <% if snippet_code.path.nil? %>
                  <strong class="text-muted">
                    Directory
                  </strong>
                  &emsp;&emsp;&emsp;
                  <span class="badge bg-focuscard text-decoration-none shadow p-2 m-1">
                    no path
                  </span>
                <% else %>
                  <strong class="text-muted">
                    Directory
                  </strong>
                  &emsp;&emsp;&emsp;
                  <span class="badge bg-focuscard text-decoration-none shadow p-2 m-1">
                    <%= snippet_code.path %>
                  </span>
                <% end %>
              </small>
            </div>
            <br>
          </div>
          <div class="col-7 py-2 px-4 mb-2 shadow-lg rounded bg-lightboot">
            <span>
              <h6>Variant <%= index + 2 %> overview</h6>
              <small><%= snippet_code.overview %></small>
            </span>
          </div>
          <pre class="hljs">
            <code class="hljs <%= snippet_code.lang.name %> rounded"><%= snippet_code.code %></code>
          </pre>
        </div>
      </div>

      <div class="accordion card shadow bg-light rounded" id="snippet_code_<%= snippet_code.id %>-accordion">
        <div class="accordion-item">
          <h1 class="accordion-header bg-light" id="snippet_code_<%= snippet_code.id %>-heading">
            <button
              class="accordion-button collapsed display-5 bg-lightboot"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#snippet_code_<%= snippet_code.id %>-collapse"
              aria-expanded="false"
              aria-controls="snippet_code_<%= snippet_code.id %>-collapse"
            >
              <span class="fw-bold"><%= snippet.title %></span>| &emsp; | <%= snippet_code.overview %> description
            </button>
          </h1>
          <div
            id="snippet_code_<%= snippet_code.id %>-collapse"
            class="accordion-collapse collapse"
            aria-labelledby="snippet_code_<%= snippet_code.id %>-heading"
            data-bs-parent="#snippet_code_<%= snippet_code.id %>-accordion"
          >
            <div class="accordion-body bg-light">
              <%= snippet_code.description.present? ? (snippet_code.description) : (render 'snippets/no_description') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="p-4 pt-5 shadow col-2 card mb-3 mt-3 bg-description me-3">
  <div class="px-4 py-2 mb-2 shadow-lg rounded bg-lightboot">
    <h6>Current Tags</h6>
    <% snippet.tags.each do |tag| %>
      <div>
        <%= link_to tag.name, snippets_path(tag: tag.name), class: "badge bg-focuscard text-decoration-none shadow p-2 m-1" %>
      </div>
    <% end %>
  </div>
</div>

<div class="p-4 pt-5 shadow col card mb-3 mt-3 me-0 bg-description">
  <div class="px-4 py-2 mb-2 shadow-lg rounded bg-lightboot">
    <h6>All Tags</h6>
    <% Tag.all.each do |tag| %>
      <div>
        <%= link_to tag.name, guides_path(tag: tag.name), class: "badge bg-focuscard text-decoration-none shadow p-2 m-1" %>
      </div>
    <% end %>
  </div>
</div>
