<% @snippets.each do |snippet| %>
  <div class="row">
    <h1 class="display-1 mb-5 text-muted text-center">
      <%= snippet.language.name.upcase %> SNIPPETS
    </h1>
  </div>

  <div class="p-5 shadow card bg-light">
    <p style="color: green">
      <%= notice %>
    </p>

      <div id="snippets">
        <div class="row">
          <div class="card p-5 shadow bg-dark display-6 text-muted col-12">
              <%= snippet.language.name.upcase %> / SNIPPETS / <%= render html: snippet.title %>
          </div>
        </div>
        <div class="row">
          <%= render snippet %>
        </div>
        <div class="d-grid gap-2 col-12">
          <%= link_to "Show this snippet", snippet, class: "btn btn-sm btn-success mt-3 shadow" %>
        </div>
      </div>
  </div>
<% end %>

<div class="d-grid gap-2 mt-4">
  <%= link_to "New snippet", new_snippet_path, class: "btn btn-sm btn-primary shadow" %>
</div>
