<div class="display-6 mb-5 text-muted text-center card shadow bg-dark p-5">
  <%= render html:  @snippet.title %> snippet
</div>

<div class="p-5 shadow card bg-secondary">
  <p style="color: green">
    <%= notice %>
  </p>

  <div class="row">
    <div class="row">
      <%= render @snippet %>
    </div>

    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <%= link_to "Edit this snippet", edit_snippet_path(@snippet), class: "btn btn-sm btn-primary mt-3 shadow" %>
      <%= link_to "Back to snippets", snippets_path, class: "btn btn-sm btn-secondary mt-3 shadow" %>
    </div>
  </div>
</div>

<%= button_to "Destroy this snippet", @snippet, method: :delete, class: "btn btn-sm btn-danger shadow mt-4" %>
