<div id="<%= dom_id example_code %>">
  <p>
    <strong>Title:</strong>
    <%= example_code.title %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= example_code.overview %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= example_code.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= example_code.description %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= example_code.path %>
  </p>

  <p>
    <strong>Lang:</strong>
    <%= example_code.lang_id %>
  </p>

  <p>
    <strong>Example:</strong>
    <%= example_code.example_id %>
  </p>

</div>
