<h1 class="display-6 mb-3 mt-5 ms-3 text-muted text-center card shadow bg-dark p-5 header-nav">
  Navigation
</h1>

<div class="sticky-nav">
  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-skyblue me-0 m-3 mt-3 card shadow rouded">
    <% @languages.each do |language| %>
      <div class="list-group nav-group-list list-group-flush">
        <a href="#language_<%= language.id %>" class="list-group-item list-group-item-action py-3 lh-sm rouded mb-1 bg-skyblue" aria-current="true">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1"><%= language.name %></strong>
            <small><%= language.created_at %></small>
          </div>
          <div class="col-10 mb-1 small"><%= language.guides.count %> guides</div>
          <div class="col-10 mb-1 small"><%= language.snippets.count %> snippets</div>
          <div class="col-10 mb-1 small"><%= language.commands.count %> commands</div>
        </a>
      </div>
    <% end %>
  </div>
</div>
