<h1 class="display-1 mb-5 text-muted text-center">
  Editing <%= render html:  @language.name %> language
</h1>

<div class="p-5 shadow card bg-light">
  <h1 class="display-6 mb-5">
    Editing <%= render html:  @language.name %>
  </h1>

  <%= render "form", language: @language %>

  <div class="btn-group mt-5" role="group" aria-label="Basic mixed styles example">
    <%= link_to "Show this language", @language, type: "button", class: "btn btn-sm btn-primary mt-2" %>
    <%= link_to "Back to languages", languages_path, type: "button", class: "btn btn-sm btn-secondary mt-2" %>
  </div>
</div>
