<h1 class="display-1 mb-5 text-muted text-center">
  Languages
</h1>

<div class="p-5 shadow card bg-secondary">
  <p style="color: green">
    <%= notice %>
  </p>

  <% @languages.each do |language| %>
    <div id="languages">
      <div class="card p-5 m-5 shadow bg-dark">
        <h1 class="display-6 text-muted">
          <%= render html: language.name %>
        </h1>
        <%= render language %>
        <div class="d-grid gap-2 col-8">
          <%= link_to "Show this language", language, class: "btn btn-sm btn-success mt-3 shadow" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="d-grid gap-2 mt-5">
  <%= link_to "New language", new_language_path, class: "btn btn-sm btn-primary shadow" %>
</div>
