<div class="col-8">
  <div class="p-4 shadow card mb-3 mt-3 bg-description me-3">
    <div id="<%= dom_id tutorial %>" class="col-12">
      <div class="row shadow p-3 mb-3 rounded bg-description">
        <div class="col-5 p-2">
          <div>
            <small>
              <strong class="text-muted">Step:</strong>
              &emsp;&emsp;&emsp;&emsp;&emsp;
              <span class="badge bg-focuscard text-decoration-none shadow p-2 m-1">
                Step 1
              </span>
            </small>
          </div>
          <div>
            <small>
              <strong class="text-muted">
                Technology
              </strong>
              &emsp;&emsp;
              <span class="badge bg-focuscard text-decoration-none shadow p-2 m-1">
                <%= tutorial.language.name %>
              </span>
            </small>
          </div>
          <div>
            <small>
              <% if tutorial.path.nil? %>
                <strong class="text-muted">
                  Directory
                </strong>
                &emsp;&emsp;&emsp;
                <span class="badge bg-focuscard text-decoration-none shadow p-2 m-1">
                  no path
                </span>
              <% else %>
                <strong class="text-muted">
                  Directory
                </strong>
                &emsp;&emsp;&emsp;
                <span class="badge bg-focuscard text-decoration-none shadow p-2 m-1">
                  <%= tutorial.path %>
                </span>
              <% end %>
            </small>
          </div>
          <br>
        </div>
        <div class="col-7 px-4 py-2 mb-2 shadow-lg rounded bg-lightboot">
          <span>
            <h6>Step 1 overview</h6>
            <small><%= tutorial.overview %></small>
          </span>
        </div>
        <pre class="hljs">
          <code id="copy_txt" class="hljs <%= tutorial.language.name %> rounded"><%= tutorial.body %></code>
        </pre>
      </div>
    </div>

    <div class="accordion card shadow bg-light rounded" id="tutorial_<%= tutorial.id %>-accordion">
      <div class="accordion-item">
        <h1 class="accordion-header bg-light" id="tutorial_<%= tutorial.id %>-heading">
          <button
            class="accordion-button collapsed display-5  bg-lightboot"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#tutorial_<%= tutorial.id %>-collapse"
            aria-expanded="false"
            aria-controls="tutorial_<%= tutorial.id %>-collapse"
          >
            <span class="fw-bold"><%= tutorial.title %></span>| &emsp; | <%= tutorial.overview %> description
          </button>
        </h1>
        <div
          id="tutorial_<%= tutorial.id %>-collapse"
          class="accordion-collapse collapse"
          aria-labelledby="tutorial_<%= tutorial.id %>-heading"
          data-bs-parent="#tutorial_<%= tutorial.id %>-accordion"
        >
          <div class="accordion-body bg-light">
            <%= tutorial.description.present? ? (tutorial.description) : (render 'tutorials/no_description') %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% tutorial.tutorial_codes.each_with_index do |tutorial_code, index| %>
    <div class="p-4 shadow mb-3 card mt-3 bg-description me-3">
      <div class="col-12">
        <div class="row shadow p-3 mb-3 rounded bg-description">
          <div class="col-5 p-2">
            <div>
              <small>
                <strong class="text-muted">Step</strong>
                &emsp;&emsp;&emsp;&emsp;&emsp;
                <span class="badge bg-focuscard text-decoration-none shadow p-2 m-1 ms-2">
                  Step <%= index + 2 %>
                </span>
              </small>
            </div>
            <div>
              <small>
                <strong class="text-muted">
                  Technology
                </strong>
                &emsp;&emsp;
                <span class="badge bg-focuscard text-decoration-none shadow p-2 m-1">
                  <%= tutorial_code.lang.name %>
                </span>
              </small>
            </div>
            <div>
              <small>
                <% if tutorial_code.path.nil? %>
                  <strong class="text-muted">
                    Directory
                  </strong>
                  &emsp;&emsp;&emsp;
                  <span class="badge bg-focuscard text-decoration-none shadow p-2 m-1">
                    no path
                  </span>
                <% else %>
                  <strong class="text-muted">
                    Directory
                  </strong>
                  &emsp;&emsp;&emsp;
                  <span class="badge bg-focuscard text-decoration-none shadow p-2 m-1">
                    <%= tutorial_code.path %>
                  </span>
                <% end %>
              </small>
            </div>
            <br>
          </div>
          <div class="col-7 py-2 px-4 mb-2 shadow-lg rounded bg-lightboot">
            <span>
              <h6>Step <%= index + 2 %> overview</h6>
              <small><%= tutorial_code.overview %></small>
            </span>
          </div>
          <pre class="hljs">
            <code class="hljs <%= tutorial_code.lang.name %> rounded"><%= tutorial_code.code %></code>
          </pre>
        </div>
      </div>

      <div class="accordion card shadow bg-light rounded" id="tutorial_code_<%= tutorial_code.id %>-accordion">
        <div class="accordion-item">
          <h1 class="accordion-header bg-light" id="tutorial_code_<%= tutorial_code.id %>-heading">
            <button
              class="accordion-button collapsed display-5 bg-lightboot"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#tutorial_code_<%= tutorial_code.id %>-collapse"
              aria-expanded="false"
              aria-controls="tutorial_code_<%= tutorial_code.id %>-collapse"
            >
              <span class="fw-bold"><%= tutorial.title %></span>| &emsp; | <%= tutorial_code.overview %> description
            </button>
          </h1>
          <div
            id="tutorial_code_<%= tutorial_code.id %>-collapse"
            class="accordion-collapse collapse"
            aria-labelledby="tutorial_code_<%= tutorial_code.id %>-heading"
            data-bs-parent="#tutorial_code_<%= tutorial_code.id %>-accordion"
          >
            <div class="accordion-body bg-light">
              <%= tutorial_code.description.present? ? (tutorial_code.description) : (render 'tutorials/no_description') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="p-4 pt-5 shadow col-2 card mb-3 mt-3 bg-description me-3">
  <div class="px-4 py-2 mb-2 shadow-lg rounded bg-lightboot">
    <h6>Current Tags</h6>
    <% tutorial.tags.each do |tag| %>
      <div>
        <%= link_to tag.name, tutorials_path(tag: tag.name), class: "badge bg-focuscard text-decoration-none shadow p-2 m-1" %>
      </div>
    <% end %>
  </div>
</div>

<div class="p-4 pt-5 shadow col card mb-3 mt-3 me-0 bg-description">
  <div class="px-4 py-2 mb-2 shadow-lg rounded bg-lightboot">
    <h6>All Tags</h6>
    <% Tag.all.each do |tag| %>
      <div>
        <%= link_to tag.name, guides_path(tag: tag.name), class: "badge bg-focuscard text-decoration-none shadow p-2 m-1" %>
      </div>
    <% end %>
  </div>
</div>
