<div class="container mt-5 mb-5 pb-5 pt-5">
  <h1 class="display-6 mb-5 text-muted text-center card shadow bg-dark p-5 header-nav">
    Ruby GT
  </h1>

  <div class="bg-focuscard col-12 p-5 shadow rounded">
    <div class="row mb-5">
      <div class="col me-3 card p-5 shadow bg-skyblue">
        <%= link_to guides_path, class: 'text-decoration-none text-dark' do %>
          <div class="display-6 mb-5 text-center card bg-description shadow p-3 increase">
            Guides
          </div>
        <% end %>
        <div class="input-group shadow">
          <input type="text" class="form-control shadow" placeholder="Add keyword" aria-label="guides">
          <button class="btn btn-dark" type="button">Search</button>
        </div>
      </div>
      <div class="col card p-5 shadow bg-skyblue">
        <%= link_to '#', class: 'text-decoration-none text-dark' do %>
          <div class="display-6 mb-5 text-center card bg-description shadow p-3 increase">
            Tutorials
          </div>
        <% end %>
        <div class="input-group shadow">
          <input type="text" class="form-control shadow" placeholder="Add keyword" aria-label="tutorials">
          <button class="btn btn-dark" type="button">Search</button>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col me-3 card p-5 shadow bg-skyblue">
        <%= link_to snippets_path, class: 'text-decoration-none text-dark' do %>
          <div class="display-6 mb-5 text-center card bg-description shadow p-3 increase">
            Snippets
          </div>
        <% end %>
        <div class="input-group shadow">
          <input type="text" class="form-control shadow" placeholder="Add keyword" aria-label="snippets">
          <button class="btn btn-dark" type="button">Search</button>
        </div>
      </div>
      <div class="col card p-5 shadow bg-skyblue">
        <%= link_to commands_path, class: 'text-decoration-none text-dark' do %>
          <div class="display-6 mb-5 text-center card bg-description shadow p-3 increase">
            Commands
          </div>
        <% end %>
        <div class="input-group shadow">
          <input type="text" class="form-control shadow" placeholder="Add keyword" aria-label="commands">
          <button class="btn btn-dark" type="button">Search</button>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col me-3 card p-5 shadow bg-skyblue">
        <%= link_to '#', class: 'text-decoration-none text-dark' do %>
          <div class="display-6 mb-5 text-center card bg-description shadow p-3 increase">
            Examples
          </div>
        <% end %>
        <div class="input-group shadow">
          <input type="text" class="form-control shadow" placeholder="Add keyword" aria-label="examples">
          <button class="btn btn-dark" type="button">Search</button>
        </div>
      </div>
      <div class="col card p-5 shadow bg-skyblue">
        <%= link_to '#', class: 'text-decoration-none text-dark' do %>
          <div class="display-6 mb-5 text-center card bg-description shadow p-3 increase">
            Templates
          </div>
        <% end %>
        <div class="input-group shadow">
          <input type="text" class="form-control shadow" placeholder="Add keyword" aria-label="templates">
          <button class="btn btn-dark" type="button">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
