<div class="bg-secondary">
  <%= form_with(model: tag) do |form| %>
    <% if tag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% tag.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="p-5 col-8 card shadow m-3">
      <%= form.label :name, style: "display: block", class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="d-grid gap-2 col-8 m-3 mt-4">
      <%= form.submit class: "btn btn-sm btn-success mb-5 shadow" %>
    </div>
  <% end %>
</div>
