<h1 class="display-6 mb-3 mt-5 text-muted text-center card shadow bg-dark p-5">
  Tags
</h1>

<div class="p-5 shadow card bg-secondary">
  <p style="color: green">
    <%= notice %>
  </p>

  <% @tags.each do |tag| %>
    <div id="tags">
      <div class="card p-5 m-5 shadow bg-dark">
        <h1 class="display-6 text-muted">
          <%= render html: tag.name %>
        </h1>
        <%= render tag %>
        <div class="d-grid gap-2 col-8">
          <%= link_to "Show this tag", tag, class: "btn btn-sm btn-success mt-3 shadow" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="d-grid gap-2 mt-5">
  <%= link_to "New tag", new_tag_path, class: "btn btn-sm btn-primary shadow" %>
</div>
