<div id="<%= dom_id command_code %>">
  <p>
    <strong>Title:</strong>
    <%= command_code.title %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= command_code.overview %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= command_code.body %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= command_code.description %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= command_code.path %>
  </p>

  <p>
    <strong>Lang:</strong>
    <%= command_code.lang_id %>
  </p>

</div>
