<div class="bg-secondary">
  <%= form_with(model: guide) do |f| %>
    <% if guide.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

      <ul>
        <% guide.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="p-5 col-8 card shadow m-3 bg-light">
      <%= f.label :title, style: "display: block", class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="p-5 col-8 card shadow m-3 bg-light">
      <%= f.label :body, style: "display: block", class: "form-label" %>

      <%= f.label :Choose_technology, style: "display: block", class: "form-label" %>
      <%= collection_select(:guide, :language_id, @languages, :id, :name, { class: 'form-control' }) %>

      <%= f.text_area :body, rows: 10, class: "form-control" %>
    </div>

    <div class="p-5 col-8 card shadow m-3 bg-light">
      <%= f.label :description, style: "display: block", class: "form-label" %>
      <%= f.rich_text_area :description, placeholder: "Add short description of pasted guide...", class: "form-control" %>
    </div>

    <div id='guide_codes'>
      <%= f.fields_for :guide_codes do |guide_code| %>
        <%= render 'guide_code_fields', :f => guide_code %>
      <% end %>
      <div class="btn-group ms-3" role="group" aria-label="Basic mixed styles example">
        <%= link_to_add_association 'Add Guide Code', f, :guide_codes, { class: "btn btn-sm btn-success my-2 shadow" } %>
      </div>
    </div>

    <div id='guide_descriptions'>
      <%= f.fields_for :guide_descriptions do |guide_description| %>
        <%= render 'guide_description_fields', :f => guide_description %>
      <% end %>
      <div class="btn-group ms-3" role="group" aria-label="Basic mixed styles example">
        <%= link_to_add_association 'Add Guide Description', f, :guide_descriptions, { class: "btn btn-sm btn-success my-2 shadow" } %>
      </div>
    </div>

    <div class="p-5 col-8 card shadow m-3 bg-light">
      <%= f.label :all_tags, style: "display: block", class: "form-label" %>
      <%= f.text_field :all_tags, placeholder: "Enter tags, separated by commas...", class: "form-control" %>
    </div>

    <div class="d-grid gap-2 col-8 m-3 mt-4">
      <%= f.submit class: "btn btn-sm btn-success mb-5 shadow" %>
    </div>
  <% end %>
</div>
