<div class="bg-secondary">
  <%= form_with(model: guide) do |form| %>
    <% if guide.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

      <ul>
        <% guide.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="p-5 col-8 card shadow m-3 bg-light">
      <%= form.label :title, style: "display: block", class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="p-5 col-8 card shadow m-3 bg-light">
      <%= form.label :body, style: "display: block", class: "form-label" %>
      <%= form.text_area :body, class: "form-control" %>
    </div>

    <div class="p-5 col-8 card shadow m-3 bg-light">
      <%= form.label :all_tags, style: "display: block", class: "form-label" %>
      <%= form.text_field :all_tags, placeholder: "Enter tags, separated by commas...", class: "form-control" %>
    </div>

    <div class="p-5 col-8 card shadow m-3 bg-light">
      <%= form.label :language, style: "display: block", class: "form-label" %>
      <%= collection_select(:guide, :language_id, @languages, :id, :name, { class: 'form-control' }) %>
    </div>

    <div class="d-grid gap-2 col-8 m-3 mt-4">
      <%= form.submit class: "btn btn-sm btn-success mb-5 shadow" %>
    </div>
  <% end %>
</div>
