<div class='nested-fields'>
  <div class="p-5 card shadow mb-3 bg-light">
    <div class="p-5 col-8 card shadow mb-3 bg-light">
      <%= f.label :add_step_short_overview, class: "form-label" %>
      <%= f.text_area :overview, rows: 3, placeholder: "Enter short overview for snippet...", class: "form-control" %>
    </div>

    <div class="p-5 col-8 card shadow m-3 bg-light">
      <%= f.label :guide_code, class: "form-label h5 text-muted" %>

      <%= f.label :Choose_technology, class: "form-label text-muted" %>
      <%= collection_select :guide_code, :lang_id, Lang.all, :id, :name, { class: 'form-select form-select-sm bg-dark' } %>

      <%= f.label :add_directory_path, class: "form-label text-muted mt-3" %>
      <%= f.text_field :path, placeholder: "Add code using directory...", class: "form-label text-muted mb-3" %>

      <%= f.text_area :code, placeholder: "Add your code snippet...", rows: 10, class: "form-control" %>
    </div>

    <div class="p-5 col-8 card shadow m-3 bg-light" id="guide_description">
      <%= f.label :description, class: "form-label h5 text-muted" %>
      <%= f.rich_text_area :description, placeholder: "Add short description of pasted guide...", class: "form-control" %>
    </div>
    <%= link_to_remove_association "Remove Guide Code", f, { class: "btn btn-sm btn-danger my-2 shadow" } %>
  </div>
</div>
