<div class='nested-fields'>
  <div class="p-5 col-8 card shadow m-3 bg-light">
    <%= f.label :code, class: "form-label" %>

    <%= f.label :Choose_technology, style: "display: block", class: "form-label" %>
    <%= collection_select(:snippet, :language_id, @languages, :id, :name, { class: 'form-control' }) %>

    <%= f.text_area :code, rows: 10, class: "form-control" %>

    <%= link_to_remove_association "Remove Guide Code", f, { class: "btn btn-sm btn-danger my-2 ms-3 shadow" } %>
  </div>
</div>
