<div class="row mt-5">
  <div class="col-2">
    <%= render "guides_nav_group_list" %>
  </div>

  <div class="col-8">
    <h1 class="display-6 mb-3 mt-5 text-muted text-center card shadow bg-dark p-5 header-nav">
      Ruby Guides
    </h1>

    <% @guides.each do |guide| %>
      <div class="p-5 shadow card bg-secondary">
        <div class="row">
          <div id="guide_<%= guide.id %>" class="card p-5 shadow bg-dark display-6 text-muted col-12">
            <%= guide.language.name.upcase %> / GUIDES / <%= render html: guide.title %>
          </div>
        </div>
        <div class="row">
          <%= render guide %>
        </div>
        <div class="d-grid gap-2">
          <%= link_to "Show this guide", guide, class: "btn btn-sm btn-success mt-3 shadow" %>
        </div>
      </div>
    <% end %>
    <%= link_to "New guide", new_guide_path, class: "btn btn-sm btn-primary shadow d-grid gap-2 fixed-button col-8" %>
  </div>
  <div class="col-2">
    <h1 class="display-6 mb-3 mt-5 text-muted text-center card shadow bg-dark p-5 header-nav">
      Filters
    </h1>
    <div class="p-5 mb-5 shadow card bg-secondary sticky-nav">
      <p class="text-center h4 .text-black-50 p-3">
        Find <%= @guides.all.length %> guides
      </p>
      <%= will_paginate @guides, list_classes: %w(pagination justify-content-center), previous_label: '&laquo;', next_label: '&raquo;' %>
      <div class="text-center">
        <%= page_entries_info @guides, list_classes: %w(text-center) %>
      </div>
    </div>
  </div>
</div>
