<div class="container mt-5 mb-5 pb-5 pt-5">
  <div class="display-6 mb-3 text-muted text-center card shadow bg-dark p-5 header-nav">
    <%= render html:  @guide.title %> guide
  </div>

  <div class="p-5 shadow card bg-skyblue">
    <div class="row">
      <div class="row">
        <%= render @guide %>
      </div>

      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <%= link_to "Edit this guide", edit_guide_path(@guide), class: "btn btn-sm btn-primary mt-3 shadow" %>
        <%= link_to "Back to guides", guides_path, class: "btn btn-sm btn-secondary mt-3 shadow" %>
      </div>
    </div>
  </div>

  <%= button_to "Destroy this guide", @guide, method: :delete, class: "btn btn-sm btn-danger shadow mt-4" %>
</div>
