<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" aria-label="Tenth navbar example">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample08"
      aria-controls="navbarsExample08"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active card p-2 m-1 me-5 bg-dark shadow text-primary" aria-current="page" href="/">
            <strong>Ruby GT</strong>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link card p-2 m-1 bg-dark shadow" href="<%= guides_path %>">Guides</a>
        </li>
        <li class="nav-item">
          <a class="nav-link card p-2 m-1 bg-dark shadow" href="<%= snippets_path %>">Snippets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link card p-2 m-1 bg-dark shadow" href="<%= languages_path %>">Languages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link card p-2 m-1 bg-dark shadow" href="<%= tags_path %>">Tags</a>
        </li>
        <li class="nav-item dropdown px-10">
          <a
            class="nav-link dropdown-toggle card p-2 m-1 bg-dark shadow px-10"
            href="#"
            id="dropdown08"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Guides
          </a>
          <ul class="dropdown-menu dropdown-menu-dark shadow" aria-labelledby="dropdown08">
            <li><%= link_to "Home", home_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href=<%= guides_path %> >Guides</a></li>
            <li><a class="dropdown-item" href=<%= new_guide_path %> >Create new Guide</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown px-10">
          <a
            class="nav-link dropdown-toggle card p-2 m-1 bg-dark shadow px-10"
            href="#"
            id="dropdown08"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Snippets
          </a>
          <ul class="dropdown-menu dropdown-menu-dark shadow" aria-labelledby="dropdown08">
            <li><%= link_to "Home", home_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href=<%= snippets_path %> >Snippets</a></li>
            <li><a class="dropdown-item" href=<%= new_snippet_path %> >Create new Snippet</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle card p-2 m-1 bg-dark shadow px-10"
            href="#"
            id="dropdown09"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Commands
          </a>
          <ul class="dropdown-menu dropdown-menu-dark shadow" aria-labelledby="dropdown09">
            <li><%= link_to 'Commands', commands_path, class: 'dropdown-item' %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Add command', new_command_path, class: 'dropdown-item' %></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle card p-2 m-1 bg-dark shadow px-10"
            href="#"
            id="dropdown09"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Languages
          </a>
          <ul class="dropdown-menu dropdown-menu-dark shadow" aria-labelledby="dropdown09">
            <li><%= link_to 'All languages', languages_path, class: 'dropdown-item' %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Add language', new_language_path, class: 'dropdown-item' %></li>
            <li><hr class="dropdown-divider"></li>

            <% @languages.each do |lang| %>
              <li><%= link_to lang.name, snippets_path(lang: lang.name), class: 'dropdown-item' %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
